.works {
  background-color: $white;
}

.works hr {
  max-width: 50%;
}

.works h2, .works h3 {
  color: $grey-darker;
}

.works h2 {
  font-size: 2em;
}

.works h3 {
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
}

.work-container:nth-child(odd) {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.work-desc, .work-body {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem 2rem 0;
}

.work-desc h1 {
  font-weight: 900;
  color: $grey-darker;
}

.work-desc p {
  padding-top: 1em;
}

.work-body .line {
  -ms-display: flex;
  display: flex;
  align-items: center;
  padding: 4em 0;
}

.work-body .col {
  width: 50%;
}

.col p, .col ul {
  padding: 1rem 0;
}

.col img {
  max-width: 500px;
  margin: auto;
}

.skills {
  li {
      float: left;
  }

  &:after {
      content: '';
      display: table;
      clear: both;
  }
}

.work-skill {
    padding: 0 .3em;
    border: 1px solid $grey;
    border-radius: 4px;
    margin-right: .5em;
    margin-bottom: .5em;
    .sprite-skill {
        display: inline-block;
        vertical-align: middle;
        @include transform(scale(.65));
    }
    span {
        padding-right: .75em;
        line-height: 1.5rem;
        font-size: .8em;
    }
}