.works {
    padding-top: 40px;
    background-color: $white;

    @include tabletLandscape {
        padding-top: 0;
    }
}

.works hr {
    max-width: 50%;
}

.works h2,
.works h3 {
    color: $grey-darker;
}

.works h2 {
    font-size: 2em;
}

.works h3 {
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
}

.work-container:nth-child(odd) {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.work-desc,
.work-body {
    max-width: 1500px;
    margin: 0 auto;
    padding: 1rem;

    @include desktop {
        padding: 2rem;
    }
}

.work-desc h1 {
    font-size: 2em;
    font-weight: 900;
    color: $grey-darker;

    @include tabletLandscape {
        font-size: 2.5em;
    }
}

.work-desc p {
    padding-top: 1em;
}

.work-desc a {
    border-bottom: 1px solid $grey-dark;
}

.work-body .line {
    padding: 1em 0;

    @include tabletLandscape {
        -ms-display: flex;
        display: flex;
        align-items: center;
        padding: 2em 0;

        .col {
            width: 50%;
        }
    }
}

.col p,
.col h3,
.col ul {
    padding-top: 1rem;
}

.col img {
    margin: auto;
    padding: 1em .5em;

    @include desktopFullhd {
        max-width: 600px;
    }
}

@media screen and (min-width: $mobileLandscape) and (max-width: $tabletPortrait) {
    .col img {
        max-width: 600px;
    }
}

.skills {
    padding-bottom: 1rem;

    li {
        display: inline-block;
        margin: 0 -3px;
    }
    &:after {
        content: '';
        display: table;
        clear: both;
    }

    @include tabletLandscape {
        padding-bottom: 0;
    }
}

.work-skill {
    min-height: 32px;
    line-height: 32px;
    border: 1px solid $grey;
    border-radius: 4px;
    margin-right: .5em;
    margin-bottom: .5em;
    .sprite-skill {
        display: inline-block;
        vertical-align: middle;
        @include transform(scale(.65));
    }
    span {
        margin-left: -.25em;
        padding-right: .75em;
        line-height: 1.5rem;
        font-size: .8em;
    }

    &.no-img {
        span {
            padding-left: .75em;
        }
    }

    @include mobileLandscape {
        padding: 0 .3em;

        span {
            margin-left: 0;
        }
    }
}

.works p {
    font-size: .9em;
    font-weight: 200;
    line-height: 1.4;

    @include tabletLandscape {
        font-size: 1em;
    }
}

.works strong {
    font-weight: 600;
    color: #333;
}