@import "../helpers/_variables.scss";

//-------------------------------------------
//      HOME
//-------------------------------------------
.info-container {
    font-size: 1.75em;

    em {
        /*text-shadow: shadow(50, $white_light);*/
        text-shadow: 0 1px 0 rgb(204,204,204), 0 2px 0 rgb(201,201,201), 0 3px 0 rgb(187,187,187), 0 4px 0 rgb(185,185,185), 0 5px 0 rgb(170,170,170), 0 6px 1px rgba(0,0,0,0.0980392), 0 0 5px rgba(0,0,0,0.0980392), 0 1px 3px rgba(0,0,0,0.298039), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.247059), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.14902);
        color: $white;
    }
}

//-------------------------------------------
//      CARD
//-------------------------------------------
.card {
    font-size: .9rem;

    &.is-redradix .card-connector {
        left: 60%;
    }

    &.is-master-design {
        left: 40%;
    }

    &.is-isdi .card-connector {
        left: 68%;
    }

    &.is-fictizia-node {
        left: 70%;

        .card-connector {
            left: 48%;
        }
    }
}

//-------------------------------------------
//      CONTACTO
//-------------------------------------------
#l-contact {
    .contact {
        width: 50%;
    }
}
