@import "../helpers/_variables.scss";
@import "../helpers/_mixins.scss";

//-------------------------------------------
//      LOGO CATASTUDIO
//-------------------------------------------
.logo-catastudio {
    top: 2rem;
    left: 2rem;
}

//-------------------------------------------
//      HOME
//-------------------------------------------
.info-container {
    font-size: 1.3em;
}

//-------------------------------------------
//      MENU
//-------------------------------------------
.menu {
    padding: 2em 1em;
}

//-------------------------------------------
//      IMAGE VCH
//-------------------------------------------
.img-vch {
    width: 50%;
    max-width: none;
    right: 0;
}

// ------------------------
//      GEARS
// ------------------------
.gears {
    width: 70%;
}

//-------------------------------------------
//      SECCION DE CONTENIDO
//-------------------------------------------
.section {
    .section-header {
        padding: 2em 2em 0;

        h1 {
            font-size: 2.5em;
        }
    }

    .section-container {
        padding: 2em;
    }
}

#l-skills {
    .section-container {
        padding-top: 1em;
    }
}
//-------------------------------------------
//      EDUCATION
//-------------------------------------------
#l-education {
    .section-header {
        display: block;
    }
}

//-------------------------------------------
//      CARD
//-------------------------------------------
.card {
    position: absolute;
    margin-bottom: 0;
    font-size: .75rem;

    .card-info {
        padding-bottom: .5em;
    }

    .card-connector {
        width: 3px;
        background-color: #f8f8f8;
        position: absolute;
        top: 100%;
        opacity: .3;
        z-index: 0;
    }

    &.is-degree {
        .card-connector {
            left: 33%;
        }
    }

    &.is-master {
        top: 15%;
        left: 9%;

        .card-connector {
            left: 33%;
        }
    }

    &.is-redradix {
        left: 30%;

        .card-connector {
            left: 50%;
        }
    }

    &.is-master-design {
        top: 20%;
        left: 37%;

        .card-connector {
            left: 89%;
        }
    }

    &.is-isdi {
        left: 54%;

        .card-connector {
            left: 58%;
        }
    }

    &.is-fictizia-node {
        top: 20%;
        left: 65%;

        .card-connector {
            left: 62%;
        }
    }

    &.is-fictizia-js {
        left: 77%;

        .card-connector {
            left: 65%;
        }
    }

    &.is-euve {
        top: 45%;
        left: 0;

        .card-connector {
            left: 38%;
        }
    }

    &.is-delarue {
        top: 70%;
        left: 10%;

        .card-connector {
            left: 24%;
        }
    }

    &.is-avanade {
        top: 40%;
        left: 48%;

        .card-connector {
            left: 50%;
        }
    }
}

//-------------------------------------------
//      TIMELINE
//-------------------------------------------
.timeline {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    flex-flow: column;
    min-height: 80vh;
    padding: 0 2em 2em;

    h1 {
        display: none;
    }

    .items {
        position: relative;
        flex: 2;
        -ms-flex: 2 1 auto;
        height: 500px;
    }

    .line, .tiles, .timeline-leyend {
        display: block;
    }

    .line {
        display: flex;
        display: -ms-flexbox;
        padding-bottom: .5em;
        overflow: hidden;

        .init_degree {
            flex: .75;
            -ms-flex: .75 1 auto;
        }

        .init_master {
            flex: .5;
            -ms-flex: .5 1 auto;
        }

        > div {
            flex: 1;
            -ms-flex: 1 1 auto;
        }

        span {
            position: relative;
            font-size: .9em;
            color: $grey_dark;

            &:after {
                position: absolute;
                top: 21px;
                left: 13px;
                display: block;
                content: '';
                border-radius: 50%;
                width: 11px;
                height: 11px;
                background-color: $grey;
            }
        }
    }

    .tiles {
        background: radial-gradient(50% 100% at 50% 10%, #EEE, #fff);

        .separator {
            width: 110%;
            margin-left: -5%;
            height: 1px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cccccc+10,cccccc+50,cccccc+90&0+0,1+10,1+90,0+100 */
            background: -moz-linear-gradient(left, rgba(204,204,204,0) 0%, rgba(204,204,204,1) 10%, rgba(204,204,204,1) 50%, rgba(204,204,204,1) 90%, rgba(204,204,204,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(204,204,204,0) 0%,rgba(204,204,204,1) 10%,rgba(204,204,204,1) 50%,rgba(204,204,204,1) 90%,rgba(204,204,204,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(204,204,204,0) 0%,rgba(204,204,204,1) 10%,rgba(204,204,204,1) 50%,rgba(204,204,204,1) 90%,rgba(204,204,204,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cccccc', endColorstr='#00cccccc',GradientType=1 ); /* IE6-9 */
        }

        .studies, .jobs {
            display: flex;
            display: -ms-flexbox;
            @include perspective(1000px);
            perspective-origin: center;
            padding: 0 1em;
        }

        .tile-container {
            position: relative;
            min-height: 100px;
            flex: 1;
            -ms-flex: 1 1 auto;
            flex-shrink: 0;

            &.degree {
                visibility: visible;
            }
        }

        .studies {
            .box {
                @include transform(rotateX(-30deg) rotateY(0deg) translateY(50px));

                > [class^=box] {
                    background-color: #2980b9;

                    &.box-front {
                        background-color: #365163;
                    }

                    &.box-right, &.box-left {
                        background-color: #73b4de;
                    }

                    &.box-top {
                        background: radial-gradient(100% 100% at 10% 50%, #35a5ef, #2980b9);
                    }
                }
            }

            .degree {
                flex: .9;
                -ms-flex: .9 1 auto;
            }

            .master-vr {
                flex: .5;
                -ms-flex: .5 1 auto;
            }

            .redradix {
                flex: 1.5;
                -ms-flex: 1.5 1 auto;
            }

            .master-design {
                flex: 2;
                -ms-flex: 2 1 auto;
            }

            .isdi {
                flex: .5;
                -ms-flex: .5 1 auto;
            }

            .nodejs {
                flex: .5;
                -ms-flex: .5 1 auto;
            }

            .javascript-advance {
                flex: .9;
                -ms-flex: .9 1 auto;
            }
        }

        .jobs {
            .box {
                @include transform(rotateX(-30deg) rotateY(0deg) translateY(50px));

                > [class^=box] {
                    background-color: #e45e41;

                    &.box-front {
                        background-color: #903f2c;
                    }

                    &.box-right, &.box-left {
                        background-color: #ff886d;
                    }

                    &.box-top {
                        background: radial-gradient(100% 100% at 0% 50%, #ff6949, #d0563c);
                    }
                }
            }

            .euve {
                flex: 1.8;
                -ms-flex: 1.8 1 auto;
            }

            .delarue {
                flex: .8;
                -ms-flex: .8 1 auto;
            }

            .avanade {
                flex: 10;
                -ms-flex: 10 1 auto;
            }
        }

        .box {
            position: relative;
            transform-style: preserve-3d;

            > [class^=box] {
                position: absolute;
                height: 10px;
            }
        }

        .degree-period {
            margin-right: 2%;
        }

        .redradix-period {
            float: right;
            width: 20%;
        }

        .master-design-period {
            float: right;
            width: 40%;
            margin-right: 20%;
        }

        .isdi-period {
            width: 50%;
            margin-left: -70%;
        }

        .fictizia-node-period {
            width: 50%;
        }

        .fictizia-js-period {
            float: right;
            padding-left: 30%;
            width: 100%;
            padding-right: 20%;
        }

        .euve-period {
            float: right;
            padding-right: 5%;
            width: 25%;
        }

        .delarue-period {
            padding-left: 5%;
        }

        .avanade-period {
            padding-left: 2%;
        }
    }

    .timeline-leyend {
        position: absolute;
        top: 0;
        left: -2em;
        color: #FFF;
        z-index: 100;

        .leyend-education, .leyend-jobs {
            position: relative;
            width: 20px;

            span {
                position: absolute;
                top: 50%;
                left: 10px;
                display: inline-block;
                @include transform(rotateZ(-90deg));
                transform-origin: center left;
            }
        }

        .leyend-education {
            background-color: $blue;
            height: 200px;

            span {
                top: 62%;
            }
        }

        .leyend-jobs {
            background-color: $orange;
            margin-top: 20px;
            height: 270px;
        }
    }

    .studies {
        .card {
            max-width: 25%;
        }

        .card-connector {
            background-color: $blue;
        }
    }

    .studies, .jobs {
        float: none;
        width: 100%;
    }

    .jobs {
        .card {
            max-width: 25%;
            z-index: 90;
            flex-flow: row;

            &.is-avanade {
                max-width: 50%;
            }

            &.is-euve {
                max-width: 35%;
            }

            &.is-delarue {
                max-width: 35%;
                z-index: 95;
            }

            .card-logo {
                position: static;
            }
        }

        .card-connector {
            background-color: $orange;
        }
    }
}

//-------------------------------------------
//      CERTIFICATIONS
//-------------------------------------------
#l-certifications {
    padding-bottom: 5vh;

    .section-container {
        padding-bottom: 0;
    }

    .certifications-container {
        > ul {
            max-width: 90%;

            > li {
                flex: 1 33.33%;
                -ms-flex: 1 1 33.33%;
                max-width: 33.33%;
            }
        }
    }

    .bg-mcsd {
        left: 20%;
        right: initial;
        width: 18%;
    }

    .bg-mcsa {
        top: -15%;
        left: 1%;
        width: 18%;
    }

    .bg-idf {
        bottom: -40%;
        right: -10%;
        width: 40%;
    }
}

.certification {
    .logo {
        width: 100px;
        min-width: 100px;
        height: 100px;
    }

    .certification-name {
        font-size: 1.2em;
    }
}

//-------------------------------------------
//      SKILLS
//-------------------------------------------
.skill-container {
    -ms-flex: 1 1 25%;
    max-width: 25%;
    padding: 1em 3em 0 0;

    .skill {
        font-size: .8rem;
    }

    #sunburst {
        height: 100%;

        svg {
            width: 100%;
            @include transform(rotate(180deg));
        }

        path {
            opacity: .5;
            transition: opacity .3s ease;

            &.is-highlight {
                opacity: 1;

                & + text {
                    opacity: 1;
                }
            }
        }

        text {
            opacity: 0;
            font-size: 1.2em;
            fill: $white;
            paint-order: stroke;
            stroke: #000000;
            stroke-width: 2px;
            stroke-linecap: butt;
            stroke-linejoin: miter;
        }
    }

    &:last-child {
        display: block;
        flex: 1.5;
        -ms-flex: 1.5 1 auto;
        padding-right: 0;
    }
}

//-------------------------------------------
//      IMAGE VCH SHADOW
//-------------------------------------------
.img-shadow {
    opacity: .8;
}

//-------------------------------------------
//      SOCIAL MEDIA
//-------------------------------------------
.social-media {
    position: fixed;
    bottom: 1em;
    right: 1em;

    &.is-floating {
        padding-bottom: 0;

        [class^="icon"] {
            font-size: 3em;
            margin-left: .8rem;
        }

        .icon-twitter {
            color: #00aced;
        }

        .icon-linkedin {
            color: #0077B5;
        }

        .icon-github {
            color: #000;
        }
    }
}
