- 
    var msCerts = [
        {
            url: "https://www.youracclaim.com/badges/98f3eea2-7daa-4682-8114-230f0d1e995f",
            title: "Go to the MCSA badge",
            center: "Microsoft",
            reference: "ID: MS0430408195",
            name: "MCSA: Web Applications",
            exams: [
                "Programming in HTML5 with JavaScript and CSS3",
                "Developing ASP.NET MVC Web Applications"
            ]
        },
        {
            url: "https://www.youracclaim.com/badges/0cf3285b-5af4-432e-9ea2-d17b31006240",
            title: "Go to the MCSD badge",
            center: "Microsoft",
            reference: "ID: MS0430408195",
            name: "MCSD: App Builder",
            exams: [
                "Developing Microsoft Azure and Web Services"
            ]
        }
    ];
    var idfCerts = [
        "Human-Computer Interaction",
        "Mobile User Experience Design",
        "Web Design for Usability",
        "Affordances: Designing Intuitive User Interfaces",
        "The Ultimate Guide to Visual Perception and Design",
        "Get Your Product Used: Adoption and Appropriation"
    ];

<article class="layout-certs section">
    <header class="section-header">
        <h1>CERTIFICATIONS</h1>
    </header>
    <div class="section-body">
        <div class="certs__section">
            each cert in msCerts
                include ../modules/cert-msdn.pug
        </div>
        <div class="certs__section">
            each cert in idfCerts
                include ../modules/cert-idf.pug
        </div>
    </div>
</article>
