<article class="layout-contact section" data-menu-target="contact">
    <header class="section-header">
        <h1>CONTACT</h1>
        <p>Feel free to contact with me to say Hi! and for any reason you consider it's necessary.</p>
        <p>I'll be very happy to know about you and I'll answer any email as soon as possible.</p>
    </header>
    <div class="section-body">
        <div class="contact">
            <form id="contactForm" class="contact-form">
                <div class="form-row">
                    <label for="name">NAME</label>
                    <input id="name" name="name" type="text" />
                </div>
                <div class="form-row">
                    <label for="email">EMAIL</label>
                    <input id="email" name="email" type="text" />
                </div>
                <div class="form-row">
                    <label for="comments">COMMENTS</label>
                    <textarea id="comments" name="comments" rows="10"></textarea>
                </div>
                <div class="form-row form-submit">
                    <button id="send-email" class="btn">SEND COMMENTS</button>
                </div>
            </form>
        </div>
    </div>
</article>
