<footer class="layout-footer">
    <span class="footer-logo"></span>
    <address>
        <p>CataStudio.com</p>
        <p>
            <small>Víctor Catalina Hermoso</small>
        </p>
    </address>
    <ul id="rrss" class="social-media is-floating">
        <li>
            <a href="https://www.linkedin.com/in/victorcata/" target="_blank" class="icon-linkedin" title="Linkeding"></a>
        </li>
        <li>
            <a href="https://github.com/victorcata" target="_blank" class="icon-github" title="GitHub"></a>
        </li>
        <li>
            <a href="https://twitter.com/_victorcata" target="_blank" class="icon-twitter" title="Twitter"></a>
        </li>
    </ul>
</footer>