<header class="layout-header">
    <!--<div class="logo-catastudio">
        <span class="logo-title">UX DESIGNER</span>
        <span class="icon-catastudio" title="CataStudio"></span>
        <span class="logo-title">FULL-STACK DEVELOPER</span>
    </div>-->
    <a id="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </a>

    //- Menu
    include menu.pug
</header>