<header class="layout-header">
    <a href="index.html" title="Portfolio Víctor Catalina" class="logo-catastudio">
        <span class="icon-catastudio" title="CataStudio"></span>
        <span class="logo-title">VÍCTOR CATALINA HERMOSO</span>
    </a>
    <a id="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </a>
    //- Menu
    include ../partials/menu-works
</header>