head
    title Portfolio Víctor Catalina
    meta(charset="utf-8")
    meta(
        name = "keywords" 
        content = ""
    )
    meta(
        name = "description"
        content = ""
    )
    meta(
        name = "viewport"
        content = "width=device-width, initial-scale=1.0"
    )
    link(
        href = "navicon.ico"
        rel = "shortcut icon"
        type = "image/x-icon"
    )
    link(
        href = "styles/app.css"
        rel = "stylesheet"
    )