header(id="l-header")
    div(class="logo-catastudio")
        span(class="logo-title") UX DESIGNER
        span(class="logo-catastudio" title="CataStudio")
        span(class="logo-title") FULL-STACK DEVELOPER
    //- Hamburger button
    a(id="nav-toggle")
        span
        span
        span
        span
    //- Menu
    include menu.pug