<header class="layout-header">
    <div class="logo-catastudio">
        <span class="icon-catastudio" title="CataStudio"></span>
        <span class="logo-title">VICTOR CATALINA HERMOSO</span>
    </div>
    <a id="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </a>

    //- Menu
    include menu.pug
</header>