- 
    var msg = "Hi, I'm a software developer now more focused on Front-End and Virtual Reality development but also with a background in Back-End development with Microsoft .NET since 2008";

<article class="layout-highlight">
    <div class="section-body">
        <div class="highlight">
            <blockquote itemprop="description">#{msg}</blockquote>
            <div class="highlight-image">
                <img src="assets/images/img-vch.png" />
            </div>
        </div>
    </div>
</article>