<article class="layout-highlight">
    <div class="section-body">
        <div class="highlight">
            <blockquote data-parallax-y="-.15">If you ask me know I'm looking for innovation, innovation, innovation and beyond.</blockquote>
            <div class="highlight-image" data-parallax-y=".05">
                <img src="assets/images/img-vch.png" />
            </div>
        </div>
    </div>
</article>