<article class="layout-home section">
    <div class="title">
        <p class="title-name">VICTOR CATALINA HERMOSO</p>
        <p class="title-prof">Software Engineer</p>
        <span class="title-logo icon-catastudio"></span>
    </div>
    <div class="gears-left" data-parallax-y=".2">
        include gears.html
    </div>
    <div class="gears-right" data-parallax-y=".2">
        include gears.html
    </div>
</article>