section#l-home.section
    //- Logo CataStudio
    div.logo-catastudio
        span.logo-title UX DESIGNER
        span.icon-catastudio(title="CataStudio")
        span.logo-title FULL-STACK DEVELOPER

    //- Main text
    div.title(data-parallax-y="-.3")
        p Victor Catalina Hermoso
        p.profession Software Engineer

    //- My image
    div.img-vch(data-parallax-y=".35")
        img(src="assets/images/img-vch.png" title="Víctor Catalina Hermoso")
    
    //- Gears
    //div(class="gears" data-parallax-y=".2")