<article class="layout-home section">
    <div class="title" data-parallax-y="-.3">
        <p>Victor Catalina Hermoso</p>
        <p>Software Engineer</p>
    </div>
    <div class="gears" data-parallax-y=".2">
        include gears.html
    </div>
</article>