section(id="l-home" class="section")

    //- Main text
    div(class="info-container" data-parallax-y="-.3")
        div(class="text-3d")
            p Víctor
            p Catalina Hermoso
            p(class="profession") Software Engineer

    //- My image
    div(class="img-vch" data-parallax-y=".35")
        img(src="assets/images/img-vch.png" title="Víctor Catalina Hermoso")
    
    //- Gears
    div(class="gears" data-parallax-y=".2")