section#l-home.section

    //- Main text
    div.title(data-parallax-y="-.3")
        p Victor Catalina Hermoso
        p.profession Software Engineer

    //- My image
    div.img-vch(data-parallax-y=".35")
        img(src="assets/images/img-vch.png" title="Víctor Catalina Hermoso")
    
    //- Gears
    div(class="gears" data-parallax-y=".2")
        include gears.html