nav(class="menu")
    ul
        li
            <a href="index.html" title="Home">
                span(class= "menu-opt") HOME
                span(class= "border")
            </a>

        li(data-goto="work") 
            span(class="menu-opt") WORKS
            span(class="border")
            
        li(data-goto="contact") 
            span(class="menu-opt") CONTACT
            span(class="border")