nav(class="menu")
    ul
        li(data-goto ="skills")
            <a href="./Resume - Victor Catalina.pdf" title="Resume in PDF">
                span(class= "menu-opt") RESUME
                span(class= "border")
            </a>

        li(data-goto ="skills")
            span(class= "menu-opt") SKILLS
            span(class= "border")

        li(data-goto="work") 
            span(class="menu-opt") WORKS
            span(class="border")
            
        li(data-goto="contact") 
            span(class="menu-opt") CONTACT
            span(class="border")
