-
 var msgUX = "Since 2014 I've been studying UX Design and specially Interaction Design because I think that it doesn't matter how well we developed an application if we don't do it with the users and their needs in mind from the beginning.";
 var uxSkills = [
     { skill: "usability", class:"is-usability", name: "Usability Analysis", level: "75", desc: "I've been studying usability and user-centered design since 2013. But since early 2015 I've work in different projects studying the usability of their interfaces or designing an interface from zero with the usability on mind. I also did some usability heuristic studies for some projects."},
     { skill: "wireframing", class:"is-wireframing", name: "Wireframing", level: "70", desc: "I always start a project sketching some ideas and drawing some wireframes. Now, is one of the important steps in my process where it's better iterate before start designing or developing. You can see for example some of my hi-fi wireframes in the Media Markt e-commerce project in the work section."},
     { skill: "ia", class:"is-information", name: "Information Architecture", level: "70", desc: "I participated in some projects to study their actual website and studing their information architecture and how we can improve the global navigation. I also did some online courses about card sorting and how to get to the right information architecture."},
     { skill: "benchmarking", class: "is-benchmarking", name: "Benchmarking", level: "75", desc: "The early steps that I have to do when thinking in a new project is study their competitors and get some ideas from them."},
     { skill: "responsive", class: "is-responsive", name: "Responsive Design", level: "90", desc: "I always have in mind a responsive or adaptive design when developing my application. So, it's just another important part that we can't avoid when developing a website. I usually start with a mobile first approach."},
     { skill: "design", class: "is-design", name: "Interface Design", level: "50", desc: "I always like graphic design but altough I'm not a designer I like to design my own staff and try to do my best. I study a lot of design, and I try to design the interfaces and improve with each of them. So, I'm still growing in this field."},
     { skill: "interaction", class: "is-interaction", name: "Interaction Design", level: "80", desc: "I love interaction design and it's the part of user experience where I'm more focused. I developed many applications from the start to the end just by my own and in direct contact with users. It's for it that I like to know of interact with software and pros and cons in any decision and whats the cost in user experience, designing and developing in the front or in the back."},
     { skill: "photoshop", name: "Adobe Photoshop", class:"is-photoshop", level: "65", desc: "I've been working with Photoshop since 2013 and I use it overall to retouch images and prepare it for the website. Sometimes I used it to design some interfaces but I feel more comfortable with Illustrator because Photoshop is a really heavy tool."},
     { skill: "illustrator", name: "Adobe Illustrator", class:"is-illustrator", level: "80", desc: "I like Adobe Illustrator and I've using it for a time, since 2014 probably. It's the tool that I always use for my wireframes, icon design, and sometimes for the graphic design of the interfaces."},
     { skill: "aftereffects", name: "Adobe After Effects", class:"is-after-effects", level: "30", desc: "I like motion graphics and for all the 2015 I did a lot of online courses to learn this tool. I think that I learn to use it very well but I never had time to practise so probabily I forgot some of what I learned but I'm still like it, the problem is that there is sooo much to study in ux, front-end and back-end."},
     { skill: "cinema4d", name: "Maxon Cinema 4D", class:"is-cinema4d", level: "15", desc: "I start to study Cinema4D as a compatible tool with After Effects and I like the way it treat the physics, however as it happens with After Effects, I didn't have time to do some projects with Cinema 4D and probably forget some of them."}
 ];
 var frontSkills = [
    { skill: "html5", name: "HTML 5", class: "is-html5", level: "95", desc: "I've been working with HTML since 2012 and when I'm developing a website I'm very focus in use the correct tag for every element and do a semantic website. I read a lot about web standards and how to do an efficient website from the begining. I like to separate this content layer from the presentation layer and avoid the overuse of tags and classes." },
    { skill: "css3", name: "CSS 3", class: "is-css3", level: "95", desc: "I love CSS3 and I think that you can do wherever you want with just CSS3. I give a webcast explaining all the fundamentals of CSS3 and you can see about it in the 'Webcast CSS3' project in the work section." },
    { skill: "javascript", name: "JavaScript", class: "is-javascript", level: "95", desc: "I really like programming in JavaScript and I'm always studying to improve my knowledge in this language. I did some presential courses for advanced level of javascript programmers and since 2015 I'm working mainly as a JavaScript programmer doing websites in my company. I like programming in vanilla JavaScript and avoid the use of the framework of the moment, probabily in the future that framework will not be famous anymore and the website will be obsolete. This way I believe in a clean code in JavaScript and a knowledge in architecture patterns are the right key to a good development instead of appeal a framework." },
    { skill: "jquery", name: "jQuery", class: "is-jquery", level: "80", desc: "I used a lot jquery some years ago and It's a great library for browser compatibility, however those days these browser differences has reduced and probabily we don't really need the use of it. For that, I try not to use it in my projects and do it in plain JavaScript. I believe that our website will have a better perfomance if we don't saturate it with external libraries." },
    { skill: "xaml", name: "XAML", class: "is-xaml", level: "60", desc: "XAML is an XML language of Microsoft to develop the interfaces of their software, like Xamarin Apps, WPF or Windows Universal Apps. I developed in this language to do some desktop aplications or Xamarin Apps. Homwever, I love to do more websites than local apps, so if I have to choose lets go to HTML." },    
    { skill: "expressionblend", name: "Expression Blend", class: "is-visualstudio", level: "30", desc: "Expression Blend is the IDE of Microsoft to design visually in XAML, I used a couple of times and know a little bit how to use it. However I still prefer write my code directly and not using drag and drop elements." },
    { skill: "bootstrap", name: "Bootstrap", class: "is-bootstrap", level: "60", desc: "I used Bootstrap in a couple of projects and I know the advantages of using it, however I have to said that I don't like it. Write HTML and CSS is very easy and quick, so I think that this framework is nice for people without knowledge in those languages but I prefer avoid overwhelm the website with a lot of CSS lines that probably I will have to overwrite to my design." },
    { skill: "sass", name: "SASS", class: "is-sass", level: "90", desc: "SASS is great to write fast CSS, and finally, as a preprocessor, it's a tool that not overwhelm my project with extra lines of code instead it's helping to write it with the functionality that CSS lacks. But, With SASS I have to be very cautious of the hierarchy and the priority rules of CSS, because if not, you can ended with a very verbose CSS." },
    { skill: "phonegap", name: "Apache Cordova / PhoneGap", class: "is-phonegap", level: "60", desc: "I did a project with PhoneGap and Apache Cordova in 2015 and a I learned a lot about it. I think it's very easy to use with a Front-End background and probably a good choice to develop an hibrid application than not need all the potential of the phone with the neccesity of doing it native." },
    { skill: "angularjs", name: "AngularJS", class: "is-angular", level: "60", desc: "I learned AngularJS because of its popularity and I used it in a couple of projects. As a MVC pattern framework It's very similar to programming in ASP.NET MVC so the concepts and the architecture it's very similar. However, in my opinion not every website need a MVC pattern in the client so I only used it in countless occasions." },
    { skill: "pug", name: "Pug / Jade", class: "is-pug", level: "50", desc: "" },
    { skill: "webpack", name: "Webpack", class: "is-webpack", level: "20", desc: "" },
    { skill: "gulp", name: "Gulp", class: "is-gulp", level: "50", desc: "" },
    { skill: "threejs", name: "ThreeJS", class: "is-three", level: "40", desc: "I like three.js for its simplicity and the library to work in 3D for the website instead of the native WebGL. I used when I was studying the Master and now I'm taking that knowledge back to programming for WebVR and the virtual reality headsets." },
    { skill: "webgl", name: "WebGL", class: "is-webgl", level: "40", desc: "Thanks WebGl we can programming 3D for the web. I did some proof of concepts with WebGl directly but It's easier with the layer of three.js on top of it." },
    { skill: "d3", name: "D3.js", class: "is-d3", level: "75", desc: "I think that Data Visualization is very important and I study and read a lot about a good user experience in data visualization. I choose D3.js as my default data visualization library and I always using it when I have to represent a chart, you can see some of the proves of concept that I did in the work section." },
    { skill: "git", name: "Git", class: "is-git", level: "70", desc: "" },
 ];
 var backSkills = [
    { skill: "net", name: ".NET", class: "is-microsoft", level: "85", desc: "I've been working with .NET since 2008 when I started in Avanade. I think that .NET is one of the most important back-end frameworks which let you write every kind of software. In all this time I developed desktop applications, websites, Windows Services, REST and SOAP services or native apps with this framework." },
    { skill: "nodejs", name: "NodeJS", class: "is-nodejs", level: "40", desc: "I usually choose .NET an Microsoft technology as my back-end environment, however NodeJS it's a good choice to quickly stand up a server. For this I went to a presential course for a month to learn NodeJS in 2015. But I never used it in production stage." },
    { skill: "aspnetmvc", name: "ASP.NET MVC", class: "is-microsoft", level: "90", desc: "ASP.NET MVC let you write back-end code for website using the Model-View-Controller pattern and I've been using it since 2012. I always create an MVC project as my back-end in every website application that I develop, but altought this framework also offers you the possibility to develop de UI directly in the server, I always prefer do that part by my own with HTML/CSS/JavaScript. I did the certification exam 486 which it's all about ASP.NET MVC." },
    { skill: "aspnetwebapi", name: "ASP.NET Web API", class: "is-microsoft", level: "90", desc: "I did a lot of Web API and it's just another part of the development process. I also did a certification exam about it to get the Microsoft Solution Developer Certification." },
    { skill: "adonet", name: "ADO.NET", class: "is-microsoft", level: "90", desc: "With ADO.NET we can manage the data access to our database. It's another important part of the development process with .NET framework and I learn more about it for the certification exam to get the MCSD certification." },
    { skill: "csharp", name: "C#", class: "is-csharp", level: "90", desc: "C# is my favorite back-end language and I've been developing with it since 2008." },
    { skill: "visualbasic", name: "Visual Basic", class: "is-vb", level: "60", desc: "I had to code with Visual Basic in the maintenance of different projects, so I learn about it. However, I always prefer to write with C# and it's been awhile that I don't use it in any project." },
    { skill: "xamarin", name: "Xamarin Forms", class: "is-xamarin", level: "45", desc: "Xamarin Froms is the brand-new Microsoft framework to write native apps. I worked in a project writing the front-end of the app with XAML, the back-end it's almost the same than the rest applications with .NET. I think it's a good framework to write native apps without need to learn Java or Switch." },
    { skill: "visualstudio", name: "Microsoft Visual Studio", class: "is-visualstudio", level: "95", desc: "Visual Studio is my favorite IDE for developing and I'm using it every day since 2008." },
    { skill: "tfs", name: "Microsoft Team Foundation Server", class: "is-visualstudio", level: "80", desc: "I've been using TFS since 2008 as a version control and task managment." },
    { skill: "wcf", name: "Windows Communication Foundation (WCF)", class: "is-microsoft", level: "75", desc: "With WCF I can develop SOAP services and I did it in some projects, I also did a certification exam which ask about it. Know it's more common that I develop REST than SOAP services." },
    { skill: "wpf", name: "Windows Presentation Foundation (WPF)", class: "is-microsoft", level: "65", desc: "I developed some desktop applications with WPF between 2013 and 2015. It was the evolution of the Windows Forms in Microsoft and a good jump to develop desktop software, but now I'm more website person." },
    { skill: "entityframework", name: "Entity Framework", class: "is-microsoft", level: "75", desc: "I use Entity Framework as my data model in every back-end project, I've been working with Entity Framework since 2010 and I learn more about it for the MCSD exam." },
    { skill: "linq", name: "LINQ", class: "is-microsoft", level: "80", desc: "LINQ is great to query data and I improve my knowledge for this technology to increase the performance of my software." },
    { skill: "sqlserver", name: "Microsoft SQL Server", class: "is-sqlserver", level: "60", desc: "Between 2010 and 2015 I worked in the most important broadcasting company in Spain doing internal software, in this time my task not only was developing software but also to be in charge of the database so in this period I learn about Microsoft SQL Server and how to manage a database in a low level." },
    { skill: "iis", name: "Internet Information Services (IIS)", class: "is-microsoft", level: "55", desc: "With IIS I can publish my website and stand up my web server, I know IIS because between 2010 and 2015 I was in charge of a lot of server publish in the local servers of the company client." },
    { skill: "azure", name: "Windows Azure", class: "is-azure", level: "20", desc: "Azure is the cloud of Microsoft and I founded it very useful to publish my website in the cloud. I also learn a lit bit about it for my MCSD exam 'Developing Microsoft Azure and Web Services'" }
 ];

<article class="layout-skills section-fixed" data-menu-target="skills">
    <header class="section-header">
        <h1>SKILLS</h1>
    </header>
    <div class="section-body">
        <div class="skills__section">
            <header>
                <h2>UX Design</h2>
            </header>
            <div class="skills__section-desc">
                <p>Since 2014 I've been studying UX Design and specially Interaction Design because I think that it doesn't matter how well we developed an application if we don't do it with the users and their needs in mind from the beginning.</p>
                <p class="underline">Please feel free to select one skill to see more details about it.</p>
            </div>
            <ul>
                each skill in uxSkills
                    <li>
                        include ../modules/skill.pug
                    </li>
            </ul>
        </div>
        <div class="skills__section">
            <header>
                <h2>Front-End Development</h2>
            </header>
            <div class="skills__section-desc">
                <p>Through the years I’ve realized that with the evolution in web much of the code can be executed in the browser. That’s why in 2012 I started to expand my knowledge base and shift my focus to include Front-End development.</p>
                <p class="underline">Please feel free to select one skill to see more details about it.</p>
            </div>
            <ul>
                each skill in frontSkills
                    <li>
                        include ../modules/skill.pug
                    </li>
            </ul>
        </div>
        <div class="skills__section">
            <header>
                <h2>Back-End Development</h2>
            </header>
            <div class="skills__section-desc">
                <p>Since 2008 I've worked as a Microsoft .NET developer developing many types of software like desktop, websites or hybrid applications, also Windows services or web APIs. I also design the software and the database architecture.</p>
                <p class="underline">Please feel free to select one skill to see more details about it.</p>
            </div>
            <ul>
                each skill in backSkills
                    <li>
                        include ../modules/skill.pug
                    </li>
            </ul>
        </div>
    </div>
</article>