-
 var works = [
    { title: "Media Markt", path: "/work/mediam.html", class: "bg-mm" },
    { title: "Caixa Geral", path: "/work/mediam.html", class: "bg-mm" },
    { title: "Media Planning", path: "/work/mediam.html", class: "bg-mm" },
    { title: "Data visualization in Biology", path: "/work/mediam.html", class: "bg-mm" },
    { title: "Media Player", path: "/work/mediam.html", class: "bg-mm" },
    { title: "E-Learning", path: "/work/mediam.html", class: "bg-mm" },
    { title: "CSS3 Webcast", path: "/work/mediam.html", class: "bg-mm" },
    { title: "Mediaset", path: "/work/mediam.html", class: "bg-mm" }
 ];

<article class="layout-work section">
    <header class="section-header">
        <h1>SOME OF MY WORK</h1>
        <p>Most of my work has been for my company in Avanade but also for my University. So, It's for that most of my work are restricted by confidentiality agrements but here you can see some of my projects where you can see my development on the differents areas.</p>
    </header>
    <div class="section-body">
        <div class="work__section">
            each work in works
                include ../modules/work.pug
        </div>
    </div>
</article>
