-
 var works = [
    { 
        title: "Media Markt", 
        path: "mediam.html", 
        logo: "icon-mediamarkt", 
        description: "UX Design and Front-End development of the e-commerce for Europe’s number one consumer electronics retailer"
    },
    { 
        title: "Mediaset", 
        path: "mediaset.html", 
        logo: "icon-mediaset", 
        description: "Full-Stack development of 20+ software applications for the leading group in television audience share in Spain" 
    },
    {
        title: "UX and FED", 
        path: "uxfed.html", 
        logo: "icon-fed", 
        description: "UX Design and Front-End development for many top clients via Avanade"
    },
    { 
        title: "E-Learning in Real-Time Communication", 
        path: "rtc.html", 
        logo: "icon-rtc", 
        description: "Project of collaborative e-learning using real-time communication" 
    },
    { 
        title: "3D and Data Visualization", 
        path: "dataviz.html", 
        logo: "icon-3d", 
        description: "Some projects focused on graphic and data visualization both at university and Avanade" 
    },
    { 
        title: "Instructor", 
        path: "instructor.html", 
        logo: "icon-instructor", 
        description: "Presentations used at some of my workshops in Front-End development" 
    },
    {
        title: "Usability Analysis", 
        path: "analysis.html", 
        logo: "icon-analysis", 
        description: "Usability analysis of websites and future Front-End development improvement" 
    },
    { 
        title: "", 
        description: "And many more..." 
    }
 ];

<article class="layout-work section" data-menu-target="work">
    <header class="section-header">
        <h1>SOME OF MY WORK</h1>
        <p>Most of my work has been for my company in Avanade but also for my University. That's why most of my work is restricted by confidentiality agreements but here you can see an overview of some of my projects.</p>
    </header>
    <div class="section-body">
        <div class="work__section">
            each work in works
                include ../modules/work.pug
        </div>
    </div>
</article>
