doctype html
html
    <head>
        <title>3D and Data Visualization: Portfolio Víctor Catalina</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="navicon.ico" rel="shortcut icon" type="image/x-icon">
        <link href="styles/works.css" rel="stylesheet">
    </head>
body
    //- Header
    include ../partials/header-works
    //- Main
    main
        <article class="works">
            <header class="work-desc">
                <h1>3D AND DATA VISUALIZATION</h1>
                <p>Por un lado siempre he estado interesado en el 3D, especialmente en la Realidad Virtual. Realice un Master en Realidad Virtual, Gráficos y videjuegos, y aqui muestro algunos ejemplos de un Master que duró 2 años. Ahora mismo intento aplicar esos conocimientos y experiencia a la Realidad Virtual en la web mediante WebVR. Por otro lado, creo que aprender de visualización de datos es importante ya que es muy requerida en diferentes proyectos y por muchos clientes, de ahí que ampliará mis conocimientos en la usabilidad en visualización de datos y aprendería la importante libreria de JavaScript para visualización de datos D3.js</p>
            </header>
            //- Data Visualization
            <div class="work-container">
                <section class="work-body">
                    <div class="line">
                        <div class="col">
                            <h2>DATA VISUALIZATION</h2>
                            <p>Estos son algunos ejemplos que he realizado mediante la libreria D3.js para visualización de datos. También actualmente mediante Three.js intento poder llevar a cabo desarrollos de Realidad Virtual en la web mediante WebVR y Oculust Rift.</p>
                            <h3>UX Design</h3>
                            <ul class="skills">
                                <li>
                                    <div class="work-skill">
                                        <div class="sprite-skill is-usability"></div>
                                        <span>Usability Analysis</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="work-skill">
                                        <div class="sprite-skill is-interaction"></div>
                                        <span>Interaction Design</span>
                                    </div>
                                </li>
                            </ul>
                            <h3>Front-End Skills</h3>
                            <ul class="skills">
                                <li>
                                    <div class="work-skill">
                                        <div class="sprite-skill is-html5"></div>                        
                                        <span>HTML5</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="work-skill">
                                        <div class="sprite-skill is-css3"></div>                                    
                                        <span>CSS3</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="work-skill">
                                        <div class="sprite-skill is-javascript"></div>                                
                                        <span>JavaScript</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="work-skill">
                                        <div class="sprite-skill is-d3"></div>                                
                                        <span>D3.js</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="work-skill">
                                        <div class="sprite-skill is-three"></div>                                
                                        <span>ThreeJS</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="work-skill">
                                        <div class="sprite-skill is-webgl"></div>                                
                                        <span>WebGL</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <img src="assets/images/work/data_1.jpg" />
                            <img src="assets/images/work/data_2.jpg" />
                        </div>
                    </div>
                </section>
            </div>
            //- 3D
            <div class="work-container">
                <section class="work-body">
                    <div class="line">
                        <div class="col">
                            <h2>GRAPHICS AND 3D</h2>
                            <p>Durante dos años estuve realizando un Master en gráficos, juegos y Realidad Virtual. En este periodo aprendi los fundamentos del diseño 3D como la escena, luces, texturas, etc. Estos pantallazos corresponden a algunas practicas que realice para el manejo de luces y efectos, calculo de fisica para animación de colisiones, reducción de mallas o matematicas aplicadas al diseño grafico.</p>
                            <h3>Skills</h3>
                            <ul class="skills">
                                <li>
                                    <div class="work-skill">
                                        <div class="sprite-skill is-html5"></div>                        
                                        <span>HTML5</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="work-skill">
                                        <div class="sprite-skill is-css3"></div>                                    
                                        <span>CSS3</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="work-skill">
                                        <div class="sprite-skill is-javascript"></div>                                
                                        <span>JavaScript</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="work-skill">
                                        <div class="sprite-skill is-three"></div>                                
                                        <span>ThreeJS</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="work-skill">
                                        <div class=""></div>                                
                                        <span>OpenGL</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="work-skill">
                                        <div class="sprite-skill is-webgl"></div>                                
                                        <span>WebGL</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <img src="assets/images/work/graph_1.jpg" />
                            <img src="assets/images/work/graph_2.jpg" />
                        </div>
                    </div>
                </section>
            </div>
        </article>
        //- Work
        <article class="layout-work section" data-menu-target="work">
            <header class="section-header">
                <h1>SOME OF MY WORK</h1>
                <p>Most of my work has been for my company in Avanade but also for my University. That's why most of my work is restricted by confidentiality agreements but here you can see an overview of some of my projects.</p>
            </header>
            <div class="section-body">
                <div class="work__section">
                    <a class="work" href="mediam.html">
                        <div class="work-logo">
                            <span class="icon-mediamarkt"></span>
                        </div>
                        <h2>Media Markt</h2>
                        <p class="work-description">UX Design and Front-End development of the e-commerce for Europe’s number one consumer electronics retailer</p>
                    </a>
                    <a class="work " href="mediaset.html">
                        <div class="work-logo">
                            <span class="icon-mediaset"></span>
                        </div>
                        <h2>Mediaset</h2>
                        <p class="work-description">Full-Stack development of 20+ software applications for the leading group in television audience share in Spain</p>
                    </a>
                    <a class="work " href="uxfed.html">
                        <div class="work-logo">
                            <span class="icon-fed"></span>
                        </div>
                        <h2>UX and FED</h2>
                        <p class="work-description">UX Design and Front-End development for many top clients via Avanade</p>
                    </a>
                    <a class="work " href="rtc.html">
                        <div class="work-logo">
                            <span class="icon-rtc"></span>
                        </div>
                        <h2>E-Learning in Real-Time Communication</h2>
                        <p class="work-description">Project of collaborative e-learning using real-time communication</p>
                    </a>
                        <a class="work is-active" href="dataviz.html">
                        <div class="work-logo">
                            <span class="icon-3d"></span>
                        </div>
                        <h2>3D and Data Visualization</h2>
                        <p class="work-description">Some projects focused on graphic and data visualization both at university and Avanade</p>
                    </a>
                    <a class="work " href="instructor.html">
                        <div class="work-logo">
                            <span class="icon-instructor"></span>
                        </div>
                        <h2>Instructor</h2>
                        <p class="work-description">Presentations used at some of my workshops in Front-End development</p>
                    </a>
                    <a class="work " href="usability.html">
                        <div class="work-logo">
                            <span class="icon-analysis"></span>
                        </div>
                        <h2>Usability Analysis</h2>
                        <p class="work-description">Usability analysis of websites and future Front-End development improvement</p>
                    </a>
                    <div class="work work-empty">
                        <p>And many more...</p>
                    </div>
                </div>
            </div>
        </article>
        //- Contact
        include ../partials/contact.pug
    //- Footer
    include ../partials/footer.pug
    //- Global
    button(id="nav-top" class="btn-top is-hidden")
    //-Scripts
    include ../partials/scripts.pug
