doctype html
html
    <head>
        <title>WebRTC: Portfolio Víctor Catalina</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="navicon.ico" rel="shortcut icon" type="image/x-icon">
        <link href="styles/works.css" rel="stylesheet">
    </head>
body
    //- Header
    include ../partials/header-works
    //- Main
    main
        <article class="works">
            <header class="work-desc">
                <h1>E-LEARNING IN REAL-TIME COMMUNICATION</h1>
                <p>This was <strong>my undergratuate thesis</strong> and I received <strong>honors for the creativity and innovation of this project</strong>. In this project I combined learning English in a collaborative multi-user website environment with real-time communication. The thesis committee was impressed by the idea and recommended that I present it to future students.</p>
            </header>
            <section class="work-body">
                <div class="line">
                    <div class="col">
                        <h2>WebRTC IN A COLLABORATIVE ENVIRONMENT</h2>
                        <p>This project uses <strong>Web Sockets</strong> to establish an interface that allows teachers and students to do activities to learn a language. As seen in the pictures, there is no graphic design in the UI of this website. It's just a proof of concept in which you see <strong>two or more people communicating through the camera and microphone with a different interface for each depending on their role.</strong></p>
                        <p>This system can be <strong>used for any online learning</strong> and not just to learn a language. The goal here is to establish oral and written communication over the Internet <strong>without having to install any third party software</strong> such as Adobe Flash or Microsoft Silverlight. Another feature is that a teacher can configure the interface, choosing which information that each student can see, order, participation, etc. The software is responsible for managing or guiding the students.</p>
                        <h3>Project Date</h2>
                        <p>Jan. 2012 - Sept. 2012</p>
                    </div>
                    <div class="col">
                        <img src="assets/images/work/pfc_1.jpg" alt="Real-Time Communication" title="Chat, video and interface games in Real-Time" />
                    </div>
                </div>
                <div class="line">
                    <div class="col">
                        <img src="assets/images/work/pfc_2.jpg" alt="Real-Time Communication" title="Chat, video and interface games in Real-Time" />
                    </div>
                    <div class="col">
                        <h3>UX Design</h3>
                        <ul class="skills">
                            <li>
                                <div class="work-skill">
                                    <div class="sprite-skill is-usability"></div>
                                    <span>Usability Analysis</span>
                                </div>
                            </li>
                            <li>
                                <div class="work-skill">
                                    <div class="sprite-skill is-interaction"></div>
                                    <span>Interaction Design</span>
                                </div>
                            </li>
                            <li>
                                <div class="work-skill">
                                    <div class="sprite-skill is-wireframing"></div>                                
                                    <span>Wireframing</span>
                                </div>
                            </li>
                        </ul>
                        <h3>Front-End Skills</h3>
                        <ul class="skills">
                            <li>
                                <div class="work-skill">
                                    <div class="sprite-skill is-html5"></div>                        
                                    <span>HTML5</span>
                                </div>
                            </li>
                            <li>
                                <div class="work-skill">
                                    <div class="sprite-skill is-css3"></div>                                    
                                    <span>CSS3</span>
                                </div>
                            </li>
                            <li>
                                <div class="work-skill">
                                    <div class="sprite-skill is-javascript"></div>                                
                                    <span>JavaScript</span>
                                </div>
                            </li>
                            <li>
                                <div class="work-skill no-image">                           
                                    <span>WebRTC</span>
                                </div>
                            </li>
                            <li>
                                <div class="work-skill no-image">                           
                                    <span>Web Sockets</span>
                                </div>
                            </li>
                        </ul>
                        <h3>Back-End Skills</h3>
                        <ul class="skills">
                            <li>
                                <div class="work-skill">
                                    <div class="sprite-skill is-microsoft"></div>                                
                                    <span>.NET</span>
                                </div>
                            </li>
                            <li>
                                <div class="work-skill">
                                    <div class="sprite-skill is-microsoft"></div>                                
                                    <span>ASP.NET MVC</span>
                                </div>
                            </li>
                            <li>
                                <div class="work-skill">
                                    <div class="sprite-skill is-csharp"></div>                                
                                    <span>Language C#</span>
                                </div>
                            </li>
                            <li>
                                <div class="work-skill">
                                    <div class="sprite-skill is-sqlserver"></div>                                
                                    <span>Microsoft SQL Server</span>
                                </div>
                            </li>
                            <li>
                                <div class="work-skill">
                                    <div class="sprite-skill is-visualstudio"></div>                                
                                    <span>Microsoft Visual Studio</span>
                                </div>
                            </li>
                            <li>
                                <div class="work-skill">
                                    <div class="sprite-skill is-visualstudio"></div>                                
                                    <span>Microsoft Team Foundation Server</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </article>
        //- Work
        <article class="layout-work section" data-menu-target="work">
            <header class="section-header">
                <h1>SOME OF MY WORK</h1>
                <p>Most of my work has been for my company in Avanade but also for my University. That's why most of my work is restricted by confidentiality agreements but here you can see an overview of some of my projects.</p>
            </header>
            <div class="section-body">
                <div class="work__section">
                    <a class="work" href="mediam.html">
                        <div class="work-logo">
                            <span class="icon-mediamarkt"></span>
                        </div>
                        <h2>Media Markt</h2>
                        <p class="work-description">UX Design and Front-End development of the e-commerce for Europe’s number one consumer electronics retailer</p>
                    </a>
                    <a class="work " href="mediaset.html">
                        <div class="work-logo">
                            <span class="icon-mediaset"></span>
                        </div>
                        <h2>Mediaset</h2>
                        <p class="work-description">Full-Stack development of 20+ software applications for the leading group in television audience share in Spain</p>
                    </a>
                    <a class="work " href="uxfed.html">
                        <div class="work-logo">
                            <span class="icon-fed"></span>
                        </div>
                        <h2>UX and FED</h2>
                        <p class="work-description">UX Design and Front-End development for many top clients via Avanade</p>
                    </a>
                    <a class="work is-active" href="rtc.html">
                        <div class="work-logo">
                            <span class="icon-rtc"></span>
                        </div>
                        <h2>E-Learning in<br/>Real-Time Communication</h2>
                        <p class="work-description">Project of collaborative e-learning using real-time communication</p>
                    </a>
                        <a class="work " href="dataviz.html">
                        <div class="work-logo">
                            <span class="icon-3d"></span>
                        </div>
                        <h2>3D and Data Visualization</h2>
                        <p class="work-description">Some projects focused on graphic and data visualization both at university and Avanade</p>
                    </a>
                    <a class="work " href="sharing.html">
                        <div class="work-logo">
                            <span class="icon-instructor"></span>
                        </div>
                        <h2>Sharing my knowledge</h2>
                        <p class="work-description">Presentations used at some of my workshops in Front-End development</p>
                    </a>
                    <a class="work" href="usability.html">
                        <div class="work-logo">
                            <span class="icon-analysis"></span>
                        </div>
                        <h2>Usability<br/>and<br/>Interaction Design</h2>
                        <p class="work-description">Usability analysis and Interaction design of UI components and interfaces</p>
                    </a>
                    <div class="work work-empty">
                        <p>And many more...</p>
                    </div>
                </div>
            </div>
        </article>
        //- Contact
        include ../partials/contact.pug
    //- Footer
    include ../partials/footer.pug
    //- Global
    button(id="nav-top" class="btn-top is-hidden")
    //-Scripts
    include ../partials/scripts.pug
