
//-------------------------------------------
//  GOOGLE FONTS
//      Open Sans: https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans:300,400,600,700
//      Exo: https://fonts.google.com/?category=Serif,Sans+Serif,Display,Handwriting&sort=popularity&thickness=8&selection.family=Exo:100,200,300,400,500,600,700,800,900
//      PT Sans: https://fonts.google.com/?query=pt+sans&selection.family=PT+Sans:400,700
//-------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700,800,900');
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|PT+Sans:400,700');

//-------------------------------------------
//      ICONOS
//-------------------------------------------
@font-face {
    font-family: 'icons';
    src: url('../assets/fonts/icons.eot');
    src: url('../assets/fonts/icons.eot#iefix') format('embedded-opentype'), 
         url('../assets/fonts/icons.ttf') format('truetype'), 
         url('../assets/fonts/icons.woff') format('woff'), 
         url('../assets/fonts/icons.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}