.section, .section-fixed {
    position: relative;
    padding: 1em;

    .section-header {
        padding: 1em 0;

        p {
            font-size: .9em;
        }
    }

    @include desktop{
        .section-header {
            padding-top: 3em;

            h1 {
                font-weight: 900;
                color: $grey_darker;
            }

            p {
                padding: .5em 0;
                font-size: 1em;
            }
        }

        .section-body {
            padding: 3em 0;
        }
    }
}

.section-fixed {
    max-width: 1500px;
    margin: auto;
}
