<div class="cert">
    <div class="cert-logo">
        <img src="assets/images/logo-idf.png" />
    </div>
    <div class="cert-details">
        <p class="center">Interaction Design Foundation</p>
        <p class="name">#{cert}</p>
    </div>
</div>