<a class="work">
    <div class="work-logo">
        <span class="icon-catastudio"></span>
    </div>
    <h2>#{work.title}</h2>
    <p class="work-description">UX design and Front-End development of the e-commerce</p>
</a>
//-a.work(href=work.path, target="_self")
  //-div.work-thumb(class=work.class)
  //-p.work-title #{work.title}