doctype html
html
    include partials/head.pug
body
    //- Header
    include partials/header.pug
    //- Main
    main
        //- Home
        include partials/home.pug
        //- Education
        include partials/education.pug
        //- Certifications
        include partials/certifications.pug
        //- Skills
        include partials/skills.pug
        //- Work
        include partials/work.pug
        //- Contact
        include partials/contact.pug
    //- Footer
    include partials/footer.pug
    //- Global
    button(id="nav-top" class="btn-top is-hidden")
    //-Scripts
    include partials/scripts.pug
