$white: #FFF;
$white_light: #F8F8F8;
$white_lighter: #F5F6F7;
$grey_lighter: #F0F0F0;

$black: #000;
$orange: #E67E22;
$green: #27AE60;
$grey_light: #F3F3F3;
$grey: #B8B7B7;
$grey_dark: #666;
$grey_darker: #333;
$grey2: #697C85;
$grey3: #343d42;
$blue: #2980B8;
$orange: #e45e41;
$red: #c0392b;