/**
 * Media Queries
 */
@mixin mobileLandscape() {
    @media #{$device} and (min-width: #{$mobileLandscape}){
        @content;
    }
}

@mixin tabletPortrait() {
    @media #{$device} and (min-width: #{$tabletPortrait}) {
        @content;
    }
}

@mixin tabletLandscape() {
    @media #{$device} and (min-width: #{$tabletLandscape}) {
        @content;
    }
}

@mixin desktop() {
    @media #{$device} and (min-width: #{$desktop}) {
        @content;
    }
}

@mixin desktopFullhd() {
    @media #{$device} and (min-width: #{$desktopFullhd}) {
        @content;
    }
}

/**
 * Box shadows
 */ 
@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
            box-shadow: $shadow;
}

/**
 * Linear gradients
 */
@mixin linear-gradient($params) {
    background-image: -webkit-linear-gradient($params);
    background-image: linear-gradient($params);
}

//-------------------------------------------
//      transform
//-------------------------------------------
@mixin transform($transform) {
    -webkit-transform: $transform;
        -ms-transform: $transform;
            transform: $transform;
}

//-------------------------------------------
//      transform-origin
//-------------------------------------------
@mixin transform-origin($value) {
    -webkit-transform-origin: $value;
        -ms-transform-origin: $value;
            transform-origin: $value;
}

//-------------------------------------------
//      perspective
//-------------------------------------------
@mixin perspective($value) {
    -webkit-perspective: $value;
    -moz-perspective: $value;
            perspective: $value;
}

//-------------------------------------------
//      transition
//-------------------------------------------
@mixin transition($params...){
    @include transform(translateZ(0));
    -webkit-transition: $params;
            transition: $params;
}

//-------------------------------------------
//      animation
//-------------------------------------------
@mixin animation($param) {
    @include transform(translateZ(0));
            animation: $param;
}

//-------------------------------------------
//      box-sizing
//-------------------------------------------
@mixin box-sizing($param){
    -webkit-box-sizing: $param;
       -moz-box-sizing: $param;
            box-sizing: $param;
}