.info-container {
    position: relative;
    padding: 40% 0 0 1rem;
    line-height: 1;
    color: $grey2;
    z-index: 30;

    .text-3d {
        display: inline-block;
        white-space: nowrap;
        font: normal 900 1.75em/1 'Exo';
        color: $white;
        text-transform: uppercase;
        text-shadow: 0 1px 0 rgb(204,204,204), 0 2px 0 rgb(201,201,201), 0 3px 0 rgb(187,187,187), 0 4px 0 rgb(185,185,185), 0 5px 0 rgb(170,170,170), 0 6px 1px rgba(0,0,0,0.0980392), 0 0 5px rgba(0,0,0,0.0980392), 0 1px 3px rgba(0,0,0,0.298039), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.247059), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.14902);
    }

    .profession {
        padding-top: .5em;
        font-size: .75em;
        text-align: right;
    }

    @include mobileLandscape {
        padding-top: 20%;

        .text-3d {
            font-size: 2.75em;
        }
    }

    @include tabletPortrait {
        display: table-cell;
        vertical-align: middle;
        max-width: 50%;
        padding: 0 0 0 5%;
    }

    @include desktopFullhd {
        font-size: 1.75em;

        em {
            text-shadow: 0 1px 0 rgb(204,204,204), 0 2px 0 rgb(201,201,201), 0 3px 0 rgb(187,187,187), 0 4px 0 rgb(185,185,185), 0 5px 0 rgb(170,170,170), 0 6px 1px rgba(0,0,0,0.0980392), 0 0 5px rgba(0,0,0,0.0980392), 0 1px 3px rgba(0,0,0,0.298039), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.247059), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.14902);
            color: $white;
        }
    }
}