.form-row {
    label {
        display: block;
        padding: 1em 0 .25em;
        font-size: .9em;
        color: $grey_dark;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        width: 100%;
        resize: none;
        border: 1px solid $grey;
    }

    &:first-child label {
        padding-top: 0;
    }
}
