.menu {
    @include transition(all $animation ease-in-out);
    z-index: 90;

    ul {
        display: none;
        overflow: hidden;
        @include transition(all $animation ease-in-out);
    }

    li {
        margin: 0 1.5em;
        padding: 1em 0;
        text-align: center;
        border-bottom: 1px solid $white;

        &:last-child {
            border-bottom: none;
        }
    }

    .menu-opt {
        display: block;
        cursor: pointer;
        color: $grey3;
    }

    .border {
        display: block;
        width: 0%;
        height: 2px;
        margin-left: 50%;
        background-color: $grey3;
        @include transition(width .15s ease-in-out, margin-left .15s ease-in-out, opacity 1s ease-in-out);
    }

    li:hover {
        .border {
            width: 100%;
            margin-left: 0%;
        }
    }
 
    @include tabletPortrait {
        display: block;
        padding: 1em;
        text-align: right;

        ul {
            display: block;
            background-color: transparent;
        }

        li {
            display: inline-block;
            padding: 0;
            border-bottom: none;
        }
    }
}