#nav-toggle {
    position: absolute;
    top: 1em;
    right: .5em;
    width: 35px;
    height: 30px;
    @include transform(rotate(0deg));
    @include transition(.5s ease-in-out);
    cursor: pointer;
    z-index: 100;

    span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: $grey-darker;
        opacity: 1;
        @include transform(rotate(0deg));
        @include transition(.25s ease-in-out);
    }

    span:nth-child(1) {
        top: 0px;
    }

    span:nth-child(2),
    span:nth-child(3) {
        top: 8px;
    }

    span:nth-child(4) {
        top: 16px;
    }

    @include tabletPortrait {
        display: none;
    }
}