.section {
    position: relative;
    margin: 0 auto;
    background-color: $white;
    z-index: 90;

    .section-header {
        padding: .5em .5em 0 1em;

        h1 {
            font-weight: 900;
            color: $grey_darker;
            font-size: 1.5em;
        }
    }

    .section-container {
        padding: 1em;
    }
}
