.section {
    position: relative;
    margin: 0 auto;
    background-color: $white;
    z-index: 90;

    .section-header {
        padding: .5em .5em 0 1em;

        h1 {
            font-weight: 900;
            color: $grey_darker;
            font-size: 1.5em;
        }
    }

    .section-container {
        padding: 1em;
    }

    @include desktop {
        .section-header {
            padding: 2em 2em 0;

            h1 {
                font-size: 2.5em;
            }
        }

        .section-container {
            padding: 2em;
        }
    }
}
