.skill {
    padding: .4em 0;
    font-size: .8rem;
    border: 1px solid transparent;

    @include tabletPortrait {
        font-size: .7rem;
    }

    @include desktop {
        font-size: .8rem;
    }
}

.skill-logo {
    float: left;
    text-align: center;

    img {
        width: auto;
        margin: auto;
    }
}

.skill-level {
    padding: 0 .5em;
    overflow: hidden;

    .progressbar {
        height: 10px;
        margin-top: .3em;
        background-color: $white;
        border: 1px solid #CCC;
    }

    .percentage {
        width: 0;
        height: calc(100% + 2px);
        background-color: $green;
        margin-top: -1px;
        margin-left: -1px;
    }
}

.skill-extra {
    display: block;
    position: relative;
    height: 0px;
    font-size: .8em;
    z-index: 1;
    overflow: hidden;
    @include transition(height .3s ease);

    p {
        padding: .8em;
        font-size: 1.2em;
    }

    img {
        position: absolute;
        bottom: -40%;
        right: .5em;
        max-width: 25%;
        opacity: .1;
        z-index: -1;
    }
}
