.title {
    font-size: 1.2em;
    text-align: center;
    color: $grey-darker;

    .title-logo {
        font-size: 2em;
    }

    .title-prof {
        line-height: 2;
        color: $grey-dark;
    }

    @include tabletPortrait {
        font-size: 1.6em;
    }

    @include desktop {
        font-size: 3em;
    }
}