.work {
    position: relative;
    display: table;
    width: 100%;
    border-collapse: collapse;
    display: flex;
    display: -ms-flexbox;
    height: 100%;
    border: .8em solid transparent;
    border-radius: 0;
    @include transition(border-width .5s ease);
    @include perspective(1000px);

    .work-thumb {
        display: block;
        width: 100%;
        height: 100%;
        background-color: $grey_light;
        background-size: 100%;
        overflow: hidden;
        color: $black;
        opacity: 1;
        @include transition(all .5s ease);
    }

    .work-title {
        position: absolute;
        align-self: center;
        padding: 0 .5em;
        left: 0;
        width: 100%;
        margin: auto;
        text-align: center;
        font-family: 'Exo';
        font-weight: 600;
        font-size: 2em;
        color: $white;
        @include transform(translateZ(-1000px));
        opacity: 0;
        @include transition(all .5s ease);
    }

    &:hover {
        border-width: 0;

        .work-thumb {
            background-size: 125%;
            border-radius: 10px;
            opacity: .3;
        }

        .work-title {
            opacity: 1;
            @include transform(translateZ(0px));
        }
    }
}

.work-container {
    margin: auto;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        width: 0px;
    }

    ul {
        display: flex;
        display: -ms-flexbox;
        flex-wrap: wrap;
        width: 1200px;
    }

    li {
        flex: 1 20%;
        -ms-flex: 1 1 20%;
        max-width: 20%;

        &:after {
            content: '';
            display: block;
            padding-bottom: 70%;
        }
    }
}