.work {
    display: block;
    background-color: $white;
    width: 250px;
    height: 350px;
    padding: 2em;
    text-align: center;
    cursor: pointer;
    @include transition(all .3s ease);

    .work-logo {
        font-size: 3em;
    }

    h2 {
        padding: .5em 0;
    }

    .work-description {
        font-size: .9em;
    }

    &:hover {
        background-color: $grey-darker;
        color: $white;
    }
}
