#l-skills {
    .module-desc {
        padding: .5em 0 1em 0;
        font-size: .8em;
    }

    @include tabletPortrait {
        .section-container {
            display: flex;
            display: -ms-flexbox;
            flex-wrap: wrap;
            padding-right: 0;
        }

        .skill-container {
            flex: 1;
            -ms-flex: 1 1 auto;
            max-width: 33.33%;
            flex-flow: column;
            padding: 0 .5em;

            h2 {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }

    @include desktop {
        .skill-container {
            -ms-flex: 1 1 25%;
            max-width: 25%;
            padding: 1em 3em 0 0;

            #sunburst {
                height: 100%;

                svg {
                    width: 100%;
                    @include transform(rotate(180deg));
                }

                path {
                    opacity: .5;
                    transition: opacity .3s ease;

                    &.is-highlight {
                        opacity: 1;

                        & + text {
                            opacity: 1;
                        }
                    }
                }

                text {
                    opacity: 0;
                    font-size: 1.2em;
                    fill: $white;
                    paint-order: stroke;
                    stroke: #000000;
                    stroke-width: 2px;
                    stroke-linecap: butt;
                    stroke-linejoin: miter;
                }
            }

            &:last-child {
                display: block;
                flex: 1.5;
                -ms-flex: 1.5 1 auto;
                padding-right: 0;
            }
        }
    }
}