#l-work {
    padding-bottom: 3em;
    background-color: #1d1c1c;

    .section-header {
        padding-top: 2em;
        text-align: center;

        h1 {
            color: $white;
        }
    }

    .section-container {
        padding: 0;
    }

    .section-desc {
        max-width: 95%;
        margin: auto;
        padding-bottom: 2em;
        font-size: .9em;
        text-align: center;
        color: $white;
    }

    @include tabletLandscape {
        min-height: 100vh;

        .section-header {
            padding-top: 10vh;
        }

        .section-desc {
            max-width: 60%;
            font-size: 1.2em;
            padding-bottom: 10vh;
        }
        
        .work-container {
            width: auto;

            ul {
                width: auto;
            }
        }
    }
}