.layout-contact {
    margin-top: 100px;
    padding-bottom: 50px;


    .section-header, .section-body {
        position: relative;
        left: 50%;
        width: 50%;
    }

    // To keep the background-imiage with transparency
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(../assets/images/img-shadow.png) no-repeat;
        background-position-x: -25%;
        opacity: .2;
        z-index: -1;
    }

    /*@include tabletPortrait {
        width: 100%;
        min-height: 70vh;
        padding-left: 3%;

        .contact-content:after {
            content: '';
            display: table;
            clear: both;
        }

        .contact-summary,
        .contact-form {
            float: left;
            width: 50%;
        }

        .contact-summary {
            font-size: 1em;
            padding-right: 1em;
        }
    }*/
}
