.layout-work {
    .section-header {
        margin: 0 auto;
        text-align: center;
    }

    @include tabletPortrait {
        .section-header {
            width: 60%;
        }

        .work__section {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .work {
            margin: 1em;
        }
    }

    @include desktop {
        .section-body {
            max-width: 1200px;
            margin: auto;
        }

        .work__section {
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            justify-content: space-between;
            height: 750px;
        }
    }
}
