.layout-header {
    text-align: right;
    background-color: $white;
    z-index: 90;
    @include transition(background-color $animation ease);

    &.is-menuopen {
        background: $grey3;
        box-shadow: 0 0 5px $black;

        #nav-toggle span {
            background: $white;
        }

        .menu-opt {
            color: $white;
        }

        #nav-toggle span:nth-child(1) {
            top: 18px;
            width: 0%;
            left: 50%;
        }

        #nav-toggle span:nth-child(2) {
            @include transform(rotate(45deg));
        }

        #nav-toggle span:nth-child(3) {
            @include transform(rotate(-45deg));
        }

        #nav-toggle span:nth-child(4) {
            top: 18px;
            width: 0%;
            left: 50%;
        }
    }

    @include tabletPortrait {
        &.is-fixed {
            position: fixed;
            width: 100%;
            background-color: rgba(25, 23, 23, 0.7);

            .logo-catastudio {   
                top: .15em;
                opacity: 1;
            }

            .logo-title {
                color: $white;
            }

            .icon-catastudio {
                font-size: .8em;
                color: $white;
            }

            .menu-opt {
                color: $white;
            }

            .border {
                background-color: $white;
            }
        }
    }

    @include tabletLandscape {
        &.is-fixed {
            .menu {
                padding: 1em .5em;
            }
        }
    }
}
